.git
.gitignore
.env
.env.*
!.env.example
*.md
!README.md
other/behat
other/behat.yml
other/behat_setup.md
other/buildTools
nbproject
.idea
.DS_Store
*.log
*.session
cache/*
!cache/.gitkeep
attachments/*
!attachments/.gitkeep
custom_avatar/*
!custom_avatar/.gitkeep
Settings.php
Settings_bak.php
